body {
  /*background-color: green;*/
  background-image: url(images/earth_lights_lrg.jpg)
}

svg {
  background-color: lightgrey;
  display: block;
  margin: auto;
}

/*circle {
  fill: none;
  stroke-width: 5px;
}*/
